<div class="row">
  <div class="col-md-6 offset-md-3">

    <!--Refactored: if view folder + partial name + local variable + controller name match (i.e. movie): SHORTCUT-->
    <%= render @movie %>
    <%#= render partial: "movies/movie", locals: {movie: @movie} %>

  </div>
</div>
